<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name"viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
				Connection Administration
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	{% block body %}
		<div class="container padding-16">
			<a href="{{ path ("home") }}" class="bar-item button">HOME</a>
		</div>
		<div class="container padding-16">
			<form method="post">
				<h1 class="h3 mb-3 font-weight-normal">Veuillez vous identifier</h1>
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-3">
						Vous êtes déjà connecté en tant que	"{{ app.user.username }}" :
						<a href="{{ path('app_logout') }}">Se déconnecter ?</a>
					</div>
				{% endif %}
				<label for="inputUsername">Username</label>
				<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
				<br>
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<br>
				<button class="btn btn-outline-secondary" type="submit">
					Connection
				</button>
			</form>
		</div>
	{% endblock %}
</html>
