{% extends 'base.html.twig' %}

{% block title %}
	Parcs et jardins - Droolans
{% endblock %}

{% block body %}
	<!-- Parallax Image, Logo, nom etc... -->

	<div id="home" class="bgimg-1 display-container opacity-min">
		<div class="gradiant-container">
			<div class="display-middle" style="white-space:nowrap;">
				<span class="center padding-large xxxlarge wide animate-opacity text-logo">
					<span class="hide-small">Parcs et jardins</span>
					Nicolas Droolans
				</span>
			</div>
		</div>
	</div>

	<!-- Container (Section description) -->
	<div id="portfolio" class="content container padding-64">
		<p class="center">
			Vous aimez les espaces verts ?
			<br>
			Vous prévoyez d’embellir votre jardin avec des
			<strong>points d’eau</strong>
			?
			<br>
			Ces grands arbres dans le fond de votre jardin vous inquiètent lorsque le vent se lève ?
			<br>
			Avec près de
			<strong>20 années d’expérience</strong>
			dans le secteur, nous mettons vos rêves en musique pour vous garantir le meilleur
			<strong>en fonction de votre budget</strong>.
		</p>
		<p class="center">
			<strong>Parcs et jardins Droolans</strong>, votre entreprise d’aménagement de parcs et jardins à Orp-Jauche près de Jodoigne vous propose de multiples services
			<strong>partout dans le Brabant wallon</strong>!
		</p>
		<br>
		<!-- <div class="main"><div id="image_container" class="container"><div class="flex"><a href="img/photo1.jpg"><img data-bp="img/photo1.jpg" src="img/photo1_thumb.jpg"/></a></div></div></div>-->

		<!-- Seconde image en parallax + txt -->
			<div class="bgimg-2 display-container opacity-min hide-small"> <div class="display-middle center white opacity">
				<span class="large text-black wide">
					Experts en aménagement de jardin, nous mettons à votre disposition des
					<strong>jardiniers qualifiés</strong>
					pour assurer la
					<strong>tonte régulière</strong>
					de vos gazons et assurer l’<strong>entretien annuel</strong>
					de vos espaces verts.
				</span>
			</div>
		</div>
		<br>

		<!-- Grille responsive. 4 colonnes sur tablettes et pc. Se stack sur mobile et ptits ecrans (100% largeur) -->
		<h2 class="center">
			Services
		</h2>
		<br>

		<div class="row-padding center">
			{% for service in services %}
				{% set image = service.images|first %}
				<div class="col quarter hover-opacity">
					<a href="{{ path ('servicesByNom', {'nom': service.nom}) }}" style="text-decoration:none" alt="Nom - service">
						<img src="{{ vich_uploader_asset(image,'imageFile') | imagine_filter('optimized_miniature') }}" style="width:100%" alt="Image - service">
						<p class="P-Title">{{ service.nom }}</p>
						<p class="P-Comment">{{ service.description }}</p>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<!-- Seconde image en parallax + txt -->
<div class="bgimg-3 display-container opacity-min hide-small">
	<div class="display-middle center">
		<span class="xlarge text-white wide">Pour en savoir plus, n’hésitez pas à nous
			<a href="{{ path ("contact") }}" title="Nous contacter" target="_blank" class="hover-text-orange">contacter</a>.</span>
		<br><br>
		<span class="xlarge text-white wide">Le
			<strong>devis</strong>
			est
			<strong>gratuit</strong>.</span>
	</div>
</div>

<!-- Modal windows après clic sur image --><!--<div id="modal01" class="modal black" onclick="this.style.display='none'"><span class="button large black display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span><div class="modal-content animate-zoom center transparent padding-64"><img id="img01" class="image"><p id="caption" class="opacity large"></p></div></div> --><div id="art-width-02" class="art-content-layout">
	<div class="art-content-layout-row responsive-layout-row-1">
		<div class="art-layout-cell" style="width: 100%; padding: 70px 10px 70px 10px;">
			<center class="span4 prianimation fadeIn prianimated prianimated" style="visibility: visible; animation-name: fadeIn;">
				<h1 style="padding-bottom: 20px;">
					<span style="font-size: 40px;">NICOLAS DROOLANS</span>
				</h1>
				<h2 style="padding-bottom: 20px;">
					Jardinage, aménagement et entretien
				</h2>
				<p>
					Passionné par son métier Nicolas Droolans met à votre service tout son talent de jardinier paysagiste en Brabant-Wallon.
				</p>
				<p style="padding-top: 20px;">
					Vous désirez refaire votre allée, avoir un magnifique jardin ou respecter les normes d’élagages, laissez faire un vrai professionnel amoureux de son métier.
				</p>
				<p style="padding-top: 40px;">
					<a title="Entretien de jardin en Brabant-Wallon" href="{{ path ("services") }}">
						Découvrez nos services.
					</a>
				</p>
			</center>
		</div>
	</div>
</div>{% endblock %}
