{% extends 'base.html.twig' %}

{% block title %}
	Liste des services
{% endblock %}

{% block body %}
	<div class="content container padding-64">
		<div class="container center">
			<h1>
				<b>SERVICES</b>
			</h1>
			<br>
			<p>
				Nous nous engageons à réaliser une étude approfondie de vos projets afin de vous donner les conseils nécessaires pour l’<strong>aménagement</strong>, l’<strong>embellissement</strong>
				ou l’<strong>entretien</strong>
				de votre espace extérieur et à assurer le
				<strong>suivi</strong>
				de nos réalisations dans les
				<strong>délais impartis</strong>.
			</p>
		</div>
		{% for service in services %}
			{% set image = service.images|first %}
			<div class="half">
				<div class="card-2 margin white">
					<img src="{{ vich_uploader_asset(image,'imageFile') | imagine_filter('optimized_service_image_large') }}" style="width:100%" alt="...">
					<div class="container">
						<h3>
							<b>{{ service.nom }}</b>
						</h3>
					</div>
					<div class="container">
						<p class="opacity">{{ service.description }}</p>
						<div class="row">
							<div class="col m8 s12">
								<p>
									<button class="button padding-large white border">
										<a href="{{ path ('servicesByNom', {'nom': service.nom}) }}">
											<b>VOIR »</b>
										</a>
									</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
