{% extends 'base.html.twig' %}

{% block title %}
	Services
{% endblock %}

{% block body %}
	<div class="content container padding-64">
		<div class="container margin-bottom">
			<br>
			<div>
				<h1 class="center">
					<b>{{ service.nom }}</b>
				</h1>
				<br>
				{{ service.description2|raw }}
			</div>
			<br>
			<h2 class="center">
				<a class="hover-text-orange" href="{{ path ("contact") }}">Demandez un devis gratuit!</a>
			</h2>
			<br>
		</div>

		<div class="row-padding center">
			{% set image = service.images|last %}
			{% for image in images %}
				<div id="image_container" class="col m3" style="padding:5px">
					<a class="hover-opacity" href="{{ vich_uploader_asset(image,'imageFile') }}">
						<img src="{{ vich_uploader_asset(image,'imageFile') | imagine_filter('optimized_miniature') }}" data-bp="{{ vich_uploader_asset(image,'imageFile') }}" style="width:100%"/>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>

	<script>
		;
(function () {
var imageLinks = document.querySelectorAll ('#image_container a')
for (var i = 0; i < imageLinks.length; i++) {
imageLinks[i].addEventListener ('click', function (e) {
e.preventDefault ()
BigPicture ({el: e.target, gallery: '#image_container'})
})
}
})()
	</script>
{% endblock %}
