{% extends 'base.html.twig' %}

{% block title %}
	En images
{% endblock %}

{% block body %}
	<div class="content container padding-64">
		<div class="container center margin-bottom">
			<h1>
				<b>GALLERIE</b>
			</h1>
			<br>
			<p>
				Parfois, les
				<strong>images</strong>
				valent plus que les mots.
			</p>
		</div>

		<div class="row-padding center">
			{% for image in images %}
				<div id="image_container" class="col m3" style="padding:5px">
					<a class="hover-opacity" href="{{ vich_uploader_asset(image,'imageFile') }}">
						<img src="{{ vich_uploader_asset(image,'imageFile') | imagine_filter('optimized_miniature') }}" data-bp="{{ vich_uploader_asset(image,'imageFile') }}" style="width:100%" alt="..."/>
					</a>
				</div>
			{% endfor %}
		</div>

		{# Plugin pagination #}
		<div class="center">
			{% do images.setPageRange(3) %}
			{{ knp_pagination_render(images, 'image/pagination.html.twig') }}
		</div>
	</div>

	<script>
		;
(function () {
var imageLinks = document.querySelectorAll ('#image_container a')
for (var i = 0; i < imageLinks.length; i++) {
imageLinks[i].addEventListener ('click', function (e) {
e.preventDefault ()
BigPicture ({el: e.target, gallery: '#image_container'})
})
}
})()
	</script>

{% endblock %}
