{% extends 'base.html.twig' %}

{% block body %}
	<div class="wrapper">
		<div class="parallax__group hero-container">
			<div class="parallax__layer sky"></div>
			<div class="parallax__layer fond"></div>
			<div class="parallax__layer bushes"></div>
			<div class="parallax__layer water"></div>
			<div class="parallax__layer people1"></div>
			<div class="parallax__layer people2"></div>
			<div class="parallax__layer people3"></div>
			<div class="parallax__layer hero-text">

				<div class="year-container">
					<h1>LOGO</h1>
				</div>
			</div>
		</div>
		<div class="parallax__group info-container">
			<img src="images/logo.jpg" alt="Beautiful garden"/>
			<div class="text-container">
				<h2>This is your year.</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nulla facilis, sequi,
										maiores officia maxime ut obcaecati odio. Ratione.</p>
				<p>Maxime ut obcaecati odio..</p>
				<a href="{{ path ("contact") }}" class="btn">Access</a>
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock %}
