{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}
	<div class="jumbotron">
		<h1 class="display-5" style="white-space: nowrap">Retour au site</h1>
		<h2>Retour aux pages :</h2>
		<div>
			<p>
				<a href="{{ path ("home") }}">Homepage</a>
			</p>
			<p>
				<a href="{{ path ("services") }}">Services</a>
			</p>
			<p>
				<a href="{{ path ("gallery") }}">Gallerie générale</a>
			</p>
			<p>
				<a href="{{ path ("contact") }}">Contact</a>
			</p>
		</div>
	</div>
{% endblock %}
