<!-- Footer -->
<footer class="center inverted-gradiant-container padding-64">
	<a href="#" class="button grey hover-text-white">
		<i class="fa fa-arrow-up margin-right"></i>
		Retour au top
	</a>
	<div class="xlarge section">
		<i class="fa fa-facebook-official hover-opacity"></i>
		<i class="fa fa-instagram hover-opacity"></i>
		<i class="fa fa-snapchat hover-opacity"></i>
		<i class="fa fa-pinterest-p hover-opacity"></i>
		<i class="fa fa-twitter hover-opacity"></i>
		<i class="fa fa-linkedin hover-opacity"></i>
	</div>
	<div style="text-align: center">
		<h3>Parcs et jardins Nicolas Droolans</h3>
		<address>
			Rue André Mathys 27<br>
			1350 Orp-Jauche
		</address>
		<p>
			<strong>0475/40 53 60</strong>
			<br>
			<strong>019/65.51.04</strong>
			<br>
			<a href="{{ path ("contact") }}" title="info@parcsetjardinsdroolans.be" target="_blank" class="hover-text-orange">info@parcsetjardinsdroolans.be</a>
		</p>
	</div>
	<p style="text-align: center">
		En navigant sur ce site, vous acceptez notre
		<a href="#" onclick="document.getElementById('RGPD').style.display='block'" title="RGPD - Politique de confidentialité" class="hover-text-orange">
			<strong>politique de confidentialité</strong>.
		</a>
	</p>
	<p>
		© 2021. Parcs et jardins -
		<strong>Nicolas Droolans</strong>
		| Optimisé par :
		<a title="Administrator" target="_blank">Marchand François</a>
	</p>
	<div id="RGPD" class="modal">
		<div class="modal-content animate-zoom">
			<div class="container teal">
				<span onclick="document.getElementById('RGPD').style.display='none'" class="button display-topright large">x</span>
				<h3>Politique de confidentialité</h3>
			</div>
			<div class="container margin" style="text-align: left;">
				<h3>
					<strong>Droits d'auteurs</strong>
				</h3>
				<p>
					Le site
					<a href="{{ path ("home") }}" class="hover-opacity text-orange">parcsetjardinsdroolans.be</a>
					constitue une création protégée par le droit d'auteur. Tous les éléments du site, les textes, les photos et autres éléments sont protégés par le droit d'auteur. Toute tentative de copie, traduction et autres exploitations est strictement interdite sans mon autorisation préalable. Toute infraction à ces droits entrainera des poursuites civiles ou pénales.
				</p>
				<h4>
					<strong>Coordonnées</strong>
				</h4>
				<p>
					Vous pouvez nous contacter par e-mail à
					<span class="text-orange">info@parcsetjardinsdroolans.be</span>
				</p>
				<h4>
					<strong>Hébergeur</strong>
				</h4>
				<p>
					OVH
					<br>
					2 rue Kellermann
					<br>
					59100 Roubaix - France
					<br>
					www.ovh.com
				</p>
				<h3>
					<strong>Règles de confidentialité</strong>
				</h3>
				<p>
					<strong>L’utilisation du site et le fait de remplir des formulaires implique votre accord sur la collecte de vos informations personnelles qui seront utilisées comme suit :</strong>
				</p>
				<h4>
					<strong>Quelles informations sont collectées ?</strong>
				</h4>
				<p>
					Nous collectons les coordonnées générales de l’internaute, à savoir (selon les champs disponibles) son nom, prénom, adresse e-mail ainsi que des informations propres aux services pour lesquels votre demande sera faite.
				</p>
				<h4>
					<strong>Que faisons-nous avec vos informations ?</strong>
				</h4>
				<p>
					L’objectif en récoltant vos données est de répondre à vos demandes d’informations en relations avec les services et produits contenu sur notre site internet.
				</p>
				<p>
					Communication client : Grâce à vos données, nous pourrions prendre contact avec vous car nous considérons cet échange comme partie intégrante de notre service. Nous pourrions utiliser votre adresse e-mail pour vous informer de nos nouveautés, de promotions, et offres de tiers qui serait susceptibles de vous intéresser.
					<br>
					Il vous sera toujours et à tout moment possible de nous demander de supprimer toutes informations vous concernant en nous en faisant la demande via l'adresse e-mail présente ci-dessus : coordonnées
				</p>
				<h4>
					<strong>Partage de vos informations.</strong>
				</h4>
				<p>
					Vos données collectées ne seront jamais transmises à des entreprises tierce
				</p>
				<h3>
					<strong>Conditions d’utilisation des cookies</strong>
				</h3>
				<h4>
					<strong>Les cookies, qu’est-ce que c’est ?</strong>
				</h4>
				<p>
					Le site utilise des cookies, une pratique courante sur de nombreux sites Internet. Les cookies sont de petites quantités d’informations stockées dans des fichiers textes qui sont enregistrés sur votre ordinateur lorsque vous visitez le site. Les informations stockées dans ces fichiers seront renvoyées à notre serveur lors de votre prochaine visite.
				</p>
				<h4>
					<strong>À quoi servent les cookies ?</strong>
				</h4>
				<p>
					Les cookies ont deux fonctions : faciliter la navigation sur un site Internet, et collecter des informations, comme par exemple mémoriser le contenu de votre panier, ou le mot de passe de votre compte utilisateur. C’est grâce à cela que, lors de votre prochaine visite sur notre site, vous retrouverez (par exemple) les produits que vous aviez placés dans votre panier, et vous n’aurez pas besoin de renseigner votre mot de passe pour vous connecter.
				</p>
				<h4>
					<strong>Les cookies enregistrent-ils des informations personnelles ?</strong>
				</h4>
				<p>
					Les cookies ne mémorisent aucune information personnelle, et aucune information qui permettrait de vous identifier en tant que personne. D’autre part, les cookies ne peuvent pas endommager votre ordinateur ou ses fichiers.
				</p>
			</div>
		</div>
	</div>
</footer>
