@font-face {
  font-family: 'BookAntica';
  src: url('book_ant.ttf');
  font-family: 'NotoSans';
  src: url('NotoSans-Regular.ttf');
}

body,
html {
  font-family: NotoSans;
  height: 100%;
  color: #777;
  line-height: 175%;
}
.P-Title {
  color: rgb(38, 38, 38);
  font-size: 22px;
  word-break: break-word;
  font-family: NotoSans;
  margin: 15px 0 0;
  padding: 0 7px 0 7px;
  text-align: left;
}
.P-Comment {
  color: #494949;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  line-height: 175%;
  margin: 13px 0;
  padding: 0 7px 0 7px;
  text-align: left;
}

.text-logo {
  color: #000000;
  font-family: BookAntica;
}

.content {
  max-width: 1200px;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../images/Logo500x267.png');
  background-position-y: 150px;
}

/* Second image */
.bgimg-2 {
  background-image: url('../images/bgimg-2.jpg');
  min-height: 300px;
}

/* Third image */
.bgimg-3 {
  background-image: url('../images/bgimg-3.jpg');
  min-height: 300px;
}

.hover-opacity {
  cursor: pointer;
}

.inverted-gradiant-container {
  height: 500px;
  background: linear-gradient(
    rgb(255, 255, 255) 0%,
    rgba(173, 255, 114, 0.25) 26%,
    rgb(51, 255, 0, 0.296) 100%
  );
  background-size: cover;
}

.gradiant-container {
  height: 600px;
  background: linear-gradient(
    rgba(51, 255, 0, 0.296) 0%,
    rgba(173, 255, 114, 0.25) 86%,
    rgb(255, 255, 255) 100%
  );
  background-size: cover;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

.alert-success {
  color: #2d7345;
  background-color: #dbf2e3;
  border-color: #c9ecd5;
}

.alert-danger {
  color: #82322f;
  background-color: #f7dddc;
  border-color: #f4cbca;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
