{% extends 'base.html.twig' %}

{% block title %}
	Contactez-nous!
{% endblock %}

{% block body %}
	<!-- Contact Container -->
	<div class="content container padding-64">
		<div class="container center margin-bottom">
			<h1>
				<b>CONTACT</b>
			</h1>
			<br>
			<p>
				Une demande de devis, une question à nous poser ? N'hésitez pas à nous contacter !
			</p>
		</div>
		<div class="row">
			<div class="col m5 panel">
				<div class="padding-16">
					<span class="xlarge border-teal bottombar">Contactez Nous</span>
				</div>
				<h3>
					<i class="fa fa-map-marker text-teal large"></i>
					&thinsp;Addresse
				</h3>
				<p>Rue André Mathys 27</p>
				<p>B-1350 Orp-Jauche</p>
				<h3>
					<i class="fa fa-phone text-teal large"></i>
					&thinsp;Telephone
				</h3>
				<p>
					+32 (0)475/40.53.60
					<br>
					+32 (0)19/65.51.04
				</p>
				<h3>
					<i class="fa fa-envelope-o text-teal large"></i>
					&thinsp;Mail
				</h3>
				<p>info@parcsetjardinsdroolans.be</p>
			</div>
			<br>
			<div class="col m7">
				<div class="container card-4 padding-16 white" target="_blank">
					{{ form_start (form) }}
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
					<div class="alert alert-danger">
						{{ form_errors (form) }}
					</div>
					<div class="section">
						<label for="nom">{{ form_label (form.nom) }}</label>
						{{ form_widget (form.nom, {'attr': {'class': "input"}}) }}
					</div>
					<div class="section">
						<label for="Email">{{ form_label (form.email) }}</label>
						{{ form_widget (form.email, {'attr': {'class': "input"}}) }}
					</div>
					<div class="section">
						<label for="Message">{{ form_label (form.message) }}</label>
						{{ form_widget (form.message, {'attr': {'class': "input"}}) }}
					</div>
					<div>
						<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
						<label class="P-Comment">
							En soumettant ce formulaire, j'accepte que les
							<a href="#" onclick="document.getElementById('RGPD').style.display='block'" title="RGPD - Politique de confidentialité" class="hover-text-orange">
								informations saisies
							</a>
							soient exploitées dans le cadre de la relation commerciale qui peut en découler.
						</label>
					</div>
					<br>
					<div class="form-group">
						{{ form_widget (form.envoyer)}}
					</div>
					{{ form_end (form) }}
				</div>
			</div>
		</div>
	</div>
	{# Image Google map éventuelle #}
	{# <div class="content container"> <!-- Image of location/map --> <img src="/images/###.jpg" class="image greyscale-min" style="width:100%;"> </div> #}
{% endblock %}
