<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name"viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Parcs et jardins - Nicolas Droolans
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="/js/BigPicture.js"></script>
		{% endblock %}
	</head>

	<body>
		{% include "nav/nav.html.twig" %}
		{% block body %}{% endblock %}
		{% include "footer/footer.html.twig" %}
	</body>
</html>
