<!-- Navbar Normale -->

<div class="top">
	<div class="bar" id="myNavbar">
		<a class="bar-item button hover-black hide-medium hide-large right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
			<i class="fa fa-bars"></i>
		</a>
		<a href="{{ path ("home") }}" class="bar-item button">HOME</a>
		<a href="{{ path ("services") }}" class="bar-item button hide-small">
			<i class="fa fa-tree text-teal"></i>
			SERVICES</a>
		<a href="{{ path ("gallery") }}" class="bar-item button hide-small">
			<i class="fa fa-th text-teal"></i>
			EN IMAGES
		</a>
		<a href="{{ path ("contact") }}" class="bar-item button hide-small">
			<i class="fa fa-envelope text-teal"></i>
			CONTACT
		</a>

		<a href="{{ path ("admin") }}" title="Administration" class="bar-item button hide-small right">
			<img src="{{ asset ('build/images/Logo37x20.png') }}" alt="Parcs et jardins Droolans">
			<figcaption style="display: none">Nicolas Droolans Logo</figcaption>
		</a>
		<a class="bar-item hide-small right">
			<i class="fa fa-phone text-teal"></i>
			+32 (0)475/40.53.60
		</a>
	</div>

	<!-- Navbar - petits écrans -->
	<div id="navDemo" class="bar-block white hide hide-large hide-medium">
		<a href="{{ path ("services") }}" class="bar-item button" onclick="toggleFunction()">SERVICES</a>
		<a href="{{ path ("gallery") }}" class="bar-item button" onclick="toggleFunction()">EN IMAGES</a>
		<a href="{{ path ("contact") }}" class="bar-item button" onclick="toggleFunction()">CONTACT</a>
		{#<a href="#" class="bar-item button">LOGO</a>#}
	</div>
</div>
